@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Regular.eot');
	src: local('TT Lakes Regular'), local('TTLakes-Regular'),
	url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TTLakes-Regular.woff') format('woff'),
	url('../fonts/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Bold.eot');
	src: local('TT Lakes Bold'), local('TTLakes-Bold'),
	url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TTLakes-Bold.woff') format('woff'),
	url('../fonts/TTLakes-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Medium.eot');
	src: local('TT Lakes Medium'), local('TTLakes-Medium'),
	url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TTLakes-Medium.woff') format('woff'),
	url('../fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/*Resetting values*/
html {
	font-family: "TT Lakes", Arial, sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul,
li,
body,
p,
button {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	font: inherit;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

/*Mobile first, for screens 320-767px*/
.page-wrapper {
	overflow: hidden;
	max-width: 767px;
	background-color: #f8f8f8;
	position: relative;
}

.header {
	display: flex;
	flex-direction: column;
}

.header--gray-background {
	background-color: #f8f8f8;
}

.lang-switch {

}

.lang-switch__item {
	appearance: none;
	position: absolute;
}

.lang-switch__item:checked + .lang-switch__label--text {
	color: #7E7E82;
}

.menu {
	display: flex;
}

.mobile-side--width--320 {
	width: 320px;
}

.menu--header-menu {
	border-bottom: 1px #D9FFF5 solid;
	background-color: #fff;
}

.menu__header-item {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 88px;
	margin-right: 16px;
}

.menu__header-item--push-right {
	margin-left: auto;
}

.menu__header-item--push-down {
	margin-top: auto;
}

.menu__header-item:last-child {
	margin-right: 0;
}

.menu__header-item--button {
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	transition-property: opacity, transform;
	transition-duration: 300ms;
}

.menu__header-item--button:hover {
	opacity: 0.7;
	transform: scale(1.1);
}

.menu__header-item--button-call {
	background-image: url("../imgs/ic/ic_call.svg");
}

.menu__header-item--button-chat {
	background-image: url("../imgs/ic/ic_chat.svg");
}

.menu__header-item--button-profile {
	background-image: url("../imgs/ic/ic_profile.svg");
}

.menu__header-item--button-repair {
	background-image: url("../imgs/ic/ic_repair.svg");
}

.menu__header-item--button-search {
	background-image: url("../imgs/ic/ic_search.svg");
}

.menu__header-item--button-checkstatus {
	background-image: url("../imgs/ic/ic_checkstatus.svg");
}

.menu__header-item--button-burger {
	background-image: url("../imgs/ic/ic_burger.svg");
}

.menu__header-item--title {
	display: none;
}

.slider-menu__slider-item {
	font-weight: 500;
	min-width: fit-content;
	height: 40px;
	margin-left: 16px;
	padding: 8px 16px;
	color: #7e7e82;
}

.slider-menu__slider-item:last-child {
	margin-right: 16px;
}

.menu--active-item {
	border: 2px #B8FFEC solid;
	border-radius: 5px;
	background-color: #fff;
}

.menu--fading::before {
	position: absolute;
	right: 0;
	width: 24px;
	height: 40px;
	content: "";
	background: linear-gradient(270.00deg, rgb(248, 248, 248) 16.836%, rgba(248, 248, 248, 0) 100%);
}

.slider-menu {
	overflow-x: auto;
	min-height: 42px;
	padding-bottom: 24px;
}

.menu--left-side {
	display: flex;
	margin-right: auto;
	margin-left: 16px;
}

.menu__header-item--no-right-margin {
	margin-right: 0;
}

.menu__header-item--no-bottom-margin {
	margin-bottom: 0;
}

.menu__header-item--divider {
	display: flex;
	width: 2px;
	height: 32px;
	margin-top: auto;
	margin-bottom: auto;
	border: 1px #eaeaea solid;
	border-radius: 1px;
}

.menu--laptop {
	display: none;
}

.menu--right-side {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-right: 24px;
	margin-left: 16px;
}

.text {
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	letter-spacing: 0.01em;
}

.title {
	color: #1b1c21;
}

.title--top::before {
	display: flex;
	width: 4px;
	height: 40px;
	margin-right: 14px;
	content: "";
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #41f6d7;
}

.title--top {
	font-size: 28px;
	font-weight: bold;
	display: flex;
	min-height: 40px;
	margin-top: 24px;
}

.article {
	margin: 24px auto;
}

.article__content--read-next {
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	display: flex;
	position: relative;
	margin: 16px 0;
	padding-left: 20px;
	letter-spacing: -0.01em;
	color: #1b1c21;
}

.article__content--read-next::before {
	display: block;
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	top: 4px;
	left: 10px;
	transform: rotate(45deg);
	border-bottom: 1px #5df6dc solid;
	border-right: 1px #5df6dc solid;
}

.article__content--read-next::after {
	content: '';
	position: absolute;
	display: block;
	width: 5px;
	height: 5px;
	top: 10px;
	left: 10px;
	transform: rotate(45deg);
	border-bottom: 1px #5df6dc solid;
	border-right: 1px #5df6dc solid;
}

.article__image {
	width: 100%;
	height: auto;
	max-height: 100%;
}

.article__content {
	display: block;
	overflow: hidden;
	margin: 0 16px 16px 16px;
}

.article__content:first-child {
	margin-top: 0;
}

.article__content--text {
	overflow: hidden;
	height: 90px;
}

.article--top-content-margin {
	margin-top: 32px;
}

.mobile-side {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	width: 320px;
	background-color: #fff;
	z-index: 10;
	box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
	-2px 0 4px 0 rgba(69, 79, 126, 0.02);
}

.mobile-side--side-margins--20 {
	padding: 0 20px;
}

.mobile-side--bottom-margin-15 {
	margin-bottom: 15px;
}

.mobile-side--tel {
	font-size: 24px;
	font-weight: 700;
}

.mobile-side__menu-item {
	display: flex;
	align-items: center;
	margin: 0 0 12px 14px;
	padding: 10px;
}

.mobile-side__menu-item:first-child {
	margin-top: 45px;
}

.mobile-side__item--active {
	margin-left: 10px;
}

.mobile-side__item--active:before {
	content: "";
	width: 4px;
	height: 32px;
	transform: translateX(-20px);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #41f6d7;
}


/* Logo Slider */
.brands-repair-list {
	position: relative;
}

.brands-repair-list__card--lenovo {
	background: url('../imgs/logos/Lenovo.svg') no-repeat;
}

.brands-repair-list__card--samsung {
	background: url('../imgs/logos/Samsung.svg') no-repeat;
}

.brands-repair-list__card--apple {
	background: url('../imgs/logos/Apple.svg') no-repeat;
}

.brands-repair-list__card--viewsonic {
	background: url('../imgs/logos/ViewSonic.svg') no-repeat;
}

.brands-repair-list__card--bosch {
	background: url('../imgs/logos/Bosch.svg') no-repeat;
}

.brands-repair-list__card--hp {
	background: url('../imgs/logos/HelpPlease.svg') no-repeat;
}

.brands-repair-list__card--acer {
	background: url('../imgs/logos/Acer.svg') no-repeat;
}

.brands-repair-list__card--sony {
	background: url('../imgs/logos/Sony.svg') no-repeat;
}

.brands-repair-list__card {
	display: flex;
	position: relative;
	flex: 0 0 222px;
	height: 72px;
	
	border: 1px #eaeaea solid;
	border-radius: 6px;
	background-color: #fff;
	background-position: 20px center;
}

/*circle*/
.brands-repair-list__card::after {
	content: '';
	z-index: 1;
	width: 39px;
	height: 39px;
	border: 1px solid #ff3e79;
	border-radius: 50%;
	margin: auto 0 auto 168px;
}

/*little arrow in circle*/
.brands-repair-list__card::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-right: 1px solid #ff3e79;
	border-top: 1px solid #ff3e79;
	top: 30px;
	right: 30px;
	rotate: 45deg;
}

.brands-repair-list__title {
	margin: 16px auto 40px 32px;
	text-transform: uppercase;
}

.brands-repair-list__more-btn {
	position: relative;
	margin-left: 48px;
	margin-bottom: 16px;
	background-color: #f8f8f8;
}

.brands-repair-list__more-btn::before {
	content: '';
	position: absolute;
	left: -12px;
	top: 3px;
	height: 5px;
	width: 5px;
	rotate: 45deg;
	box-shadow: 1px 1px 0 0 #5df6dc,
	3px 3px 0 0 #f8f8f8,
	4px 4px 0 0 #5df6dc;
}

.brands-repair-list__less-btn {
	margin-top: 8px;
}

.brands-repair-list__less-btn::before {
	top: 13px;
	rotate: 225deg;
}

.brands-repair-list__wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 16px 24px;
	max-width: 100%;
	margin-left: 24px;
	height: 170px;
	overflow: hidden;
	
	transition: height ease-in-out 400ms;
}

.brands-repair-list__wrapper--expanded {
	height: fit-content;
}

/*laptop view*/
@media screen and (768px <= width) and (width < 1120px) {
	.page-wrapper {
		max-width: 1119px;
		margin: 0 auto;
	}
	
	.slider-menu {
		min-height: 64px;
		padding-bottom: 0;
	}
	
	.article__content--read-next {
		margin: 20px 0 0 0;
	}
	
	.menu--laptop {
		display: flex;
	}
	
	.menu--left-side {
		margin-right: auto;
		margin-left: 24px;
	}
	
	.article {
		position: relative;
		width: 720px;
		height: 242px;
	}
	
	.article__content {
		position: relative;
		width: 312px;
		margin: 0;
	}
	
	.article__content--text {
		line-height: 20px;
		max-width: 312px;
		height: 160px;
	}
	
	.article__image {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		max-width: 50%;
	}
}

@media screen and (width >= 1120px) {
	.page-wrapper {
		max-width: 1121px;
		margin: 0 auto;
	}
	
	.desktop-wrapper {
		display: flex;
		flex-flow: row-reverse;
		justify-content: space-between;
	}
	
	.slider-menu {
		display: flex;
		flex-wrap: wrap;
		min-height: 64px;
		margin: 10px 25px 7px 32px;
		padding-bottom: 0;
	}
	
	.slider-menu__slider-item {
		margin: 0;
		padding: 8px 22px;
	}
	
	.title--top::before {
		margin-right: 30px;
	}
	
	.article {
		display: flex;
	}
	
	.article__content {
		max-width: 50%;
		margin-left: 32px;
	}
	
	.article__content--text {
		line-height: 20px;
		max-width: 490px;
		height: auto;
	}
	
	.article__content--read-next {
		margin: 20px 0 0 0;
	}
	
	.menu--left-side {
		margin-right: 595px;
		margin-left: 24px;
	}
	
	.menu--fading::after {
		display: none;
	}
	
	.menu--header-menu {
		height: 92px;
		border-bottom: none;
		background-color: #f8f8f8;
	}
	
	.menu--left-side li:first-child .menu__header-item {
		margin-right: 0;
	}
	
	.menu__header-item--hide-on-desktop {
		display: none;
	}
	
	.menu__header-item--title {
		display: block;
		margin-right: 8px;
	}
	
	.menu--right-side {
		align-self: flex-end;
		width: unset;
	}
	
	.article__image {
		max-width: 50%;
		height: auto;
	}
}

/*mobile only, width less than 768px*/
@media screen and (width <= 767px) {
	.brands-repair-list__more-btn {
		display: none;
	}
	
	.brands-repair-list__wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: unset;
		
		max-width: unset;
		margin-left: 0;
		height: fit-content;
	}
	
	.swiper-wrapper__fade {
		position: absolute;
		height: 74px;
		width: 34px;
		bottom: 38px;
		right: 0;
		z-index: 1;
		background: linear-gradient(
				270.00deg, rgb(248, 248, 248) 16.836%, rgba(248, 248, 248, 0) 100%);
	}
	
	.swiper-pagination {
		position: relative;
		top: 0 !important;
		bottom: 0 !important;
		right: 0 !important;
		left: 0 !important;
		margin: 10px auto;
	}
}