@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Regular.eot');
	src: local('TT Lakes Regular'), local('TTLakes-Regular'),
	url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TTLakes-Regular.woff') format('woff'),
	url('../fonts/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Bold.eot');
	src: local('TT Lakes Bold'), local('TTLakes-Bold'),
	url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TTLakes-Bold.woff') format('woff'),
	url('../fonts/TTLakes-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Medium.eot');
	src: local('TT Lakes Medium'), local('TTLakes-Medium'),
	url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TTLakes-Medium.woff') format('woff'),
	url('../fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/*Resetting values*/
html {
	box-sizing: border-box;
	font-family: "TT Lakes", Arial, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul, li, body, p {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:visited {
	text-decoration: none;
	color: inherit;
}

/*Mobile first, for screens 320-767px*/
.page-wrapper {
	overflow: hidden;
	max-width: 767px;
	background-color: #f8f8f8;
}

.header {
	display: flex;
	flex-direction: column;
}

.header--gray-background {
	background-color: #f8f8f8;
}

.menu {
	display: flex;
}

.menu--header-menu {
	border-bottom: 1px #D9FFF5 solid;
	background-color: #fff;
}

.menu__header-item {
	height: 88px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 16px;
}

.menu__header-item:last-child {
	margin-right: 0;
}

.menu__header-item--title {
	display: none;
}

.slider-menu__slider-item {
	font-weight: 500;
	color: #7e7e82;
	padding: 8px 16px;
	margin-left: 16px;
	height: 40px;
	min-width: fit-content;
}

.slider-menu__slider-item:last-child {
	margin-right: 16px;
}

.menu--active-item {
	border: 2px #B8FFEC solid;
	background-color: #fff;
	border-radius: 5px;
}

.menu--fading::before {
	content: "";
	position: absolute;
	right: 0;
	width: 24px;
	height: 40px;
	background: linear-gradient(270.00deg, rgb(248, 248, 248) 16.836%,rgba(248, 248, 248, 0) 100%);
}

.slider-menu {
	overflow-x: auto;
	min-height: 42px;
	padding-bottom: 24px;
}

.menu--left-side {
	display: flex;
	margin-left: 16px;
	margin-right: auto;
}

.menu__header-item--no-right-margin {
	margin-right: 0;
}

.menu__header-item--divider {
	display: flex;
	width: 2px;
	height: 32px;
	border: 1px #eaeaea solid;
	border-radius: 1px;
	margin-top: auto;
	margin-bottom: auto;
}

.menu--laptop {
	display: none;
}

.menu--right-side {
	display: flex;
	width: 50%;
	margin-right: 24px;
	margin-left: 16px;
	justify-content: space-between;
}

.text {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.01em;
}

.title {
	color: #1b1c21;
}

.title--top::before {
	content: "";
	display: flex;
	height: 40px;
	width: 4px;
	margin-right: 14px;
	background-color: #41f6d7;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.title--top {
	display: flex;
	font-size: 28px;
	font-weight: bold;
	min-height: 40px;
	margin-top: 24px;
}



.article {
	margin: 24px auto;
}

.article__content--read-next::before {
	content: "";
	display: flex;
	height: 24px;
	width: 24px;
	background-image: url("../imgs/ic/expand.svg");
}

.article__content--read-next {
	display: flex;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #1b1c21;
	margin: 16px 0;
}

.article__image {
	width: 100%;
	height: auto;
	max-height: 100%;
}

.article__content {
	display: block;
	overflow: hidden;
	margin: 0 16px 16px 16px;
}

.article__content:first-child {
	margin-top: 0;
}

.article__content--text {
	height: 90px;
	overflow: hidden;
}

.article--top-content-margin {
	margin-top: 32px;
}

/*laptop view*/
@media screen and (768px <= width) and (width <= 1119px) {
	.page-wrapper {
		max-width: 1119px;
		margin: 0 auto;
	}
	
	.header {
		height: 236px;
		}
		
		.slider-menu {
			min-height: 64px;
			padding-bottom: 0;
		}
		
		.article__content--read-next {
			margin: 20px 0 0 0;
		}
		
		.menu--laptop {
			display: flex;
		}
		
		.menu--left-side {
			margin-left: 24px;
			margin-right: auto;
		}
		
		.article {
			position: relative;
			width: 720px;
			height: 242px;
		}
		
		.article__content {
			position: relative;
			width: 312px;
			margin: 0;
		}
	
	.article__content--text {
		height: 160px;
		max-width: 312px;
		line-height: 20px;
	}
		
		.article__image {
			max-width: 50%;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

@media screen and (width > 1120px) {
	.page-wrapper {
		max-width: 1121px;
		margin: 0 auto;
	}
	
	.desktop-wrapper {
		display: flex;
		flex-flow: row-reverse;
		justify-content: space-between;
	}
	
	.slider-menu {
		min-height: 64px;
		padding-bottom: 0;
		margin: 10px 25px 7px 32px;
		display: flex;
		flex-wrap: wrap;
	}
	
	.slider-menu__slider-item {
		margin: 0;
		padding: 8px 22px;
	}
	
	.title--top::before {
		margin-right: 30px;
	}
	
	.article {
		display: flex;
	}
	
	.article__content {
		margin-left: 32px;
		max-width: 50%;
	}
	
	.article__content--text {
		height: auto;
		max-width: 490px;
		line-height: 20px;
	}
	
	.article__content--read-next {
		margin: 20px 0 0 0;
	}
	
	.menu--left-side {
		margin-left: 24px;
		margin-right: 595px;
	}
	
	.menu--fading::after {
		display: none;
	}
	
	.menu--header-menu {
		height: 92px;
		border-bottom: none;
		background-color: #f8f8f8;
	}
	
	.menu--left-side li:first-child .menu__header-item {
		margin-right: 0;
	}
	
	.menu__header-item {
		height: 40px;
		margin-right: 32px;
	}
	
	.menu__header-item--hide-on-desktop {
		display: none;
	}
	
	.menu__header-item--title {
		display: block;
		margin-right: 8px;
	}
	
	.menu--right-side {
		align-self: flex-end;
	}
	
	.article__image {
		max-width: 50%;
		height: auto;
	}
}